# Archivos binarios generados por Go
*.exe
*.exe~
*.out
*.test
*.dll
*.so
*.dylib

# Directorio de dependencias de Go (modulo de Go)
vendor/

# Archivos de compilación específicos de Go
*.a
*.o
*.so
*.dSYM

# Archivos del editor (por ejemplo, VSCode, Sublime, etc.)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos temporales de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de Go modules
go.sum

# Archivos de configuración de Go (si estás usando Go 1.11+ con modules)
go.mod
